body {
    background-color: gainsboro;
}
.overlay {
    background: rgba(0,0,0,0.4);
}
.im1 {
width: 100%;
    position: relative;
}

.im2 {
    position: absolute;
    top: 150px;
    left:  45%;
    width: 100px;
}
.work img {
    width: 80%;
    margin-top: 60px;
    align-items: center;
    border-radius: 40px 0px 40px 0px;
}
.work {
    width: 80%;
    margin: auto;
}
.caption {
    text-align: center;
    padding: 17px;
}
.caption h3 {
    font-size: 20px;
}